
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link rel="stylesheet" href="~/StyleSheet1.css" />
</head>
<body>
    <p style="text-align:left; font-size:20px;">관리자모드</p>

    <table class="AdminTable">
        <tr>
            <td>
                <div class="box1"><a href="~/Home/Registration">후 보 등 록</a></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="box1"><a href="~/Home/Check">인 원 관 리</a></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="box1"><a href="~/Home/Key">암호키 발급</a></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="box1"><a href="~/Home/Result">결&nbsp;&nbsp;&nbsp;과</a></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="box1"><a href="~/Home/Reset">초 기 화</a></div>
            </td>
        </tr>
    </table>
    <!-- new { style = "text-decoration:none" } 밑줄을 없애준다는데 왜 안먹음 ㅅㅂ-->

</body>
</html>
