
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Check</title>
    <link rel="stylesheet" href="~/StyleSheet1.css" />

</head>
<body>
    <div> 
        각 반에 투표가능한 인원수를 적어주세요
    </div>
    <hr /><br />
    <form action="#">
    <table class="CheckTable">
        <tr>
            <th>1학년</th>
            <th>2학년</th>
            <th>3학년</th>
        </tr>
        <tr>
            <td>1반 <input type="number" min="1" max="20"/></td>
            <td>1반 <input type="number" min="1" max="20" /></td>
            <td>1반 <input type="number" min="1" max="20" /></td>
        </tr>
        <tr>
            <td>2반 <input type="number" min="1" max="20" /></td>
            <td>2반 <input type="number" min="1" max="20" /></td>
            <td>2반 <input type="number" min="1" max="20" /></td>
        </tr>
        <tr>
            <td>3반 <input type="number" min="1" max="20" /></td>
            <td>3반 <input type="number" min="1" max="20" /></td>
            <td>3반 <input type="number" min="1" max="20" /></td>

        </tr>
        <tr>
            <td>4반 <input type="number" min="1" max="20" /></td>
            <td>4반 <input type="number" min="1" max="20" /></td>
            <td>4반 <input type="number" min="1" max="20" /></td>
        </tr>
        <tr>
            <td>5반 <input type="number" min="1" max="20" /></td>
            <td>5반 <input type="number" min="1" max="20" /></td>
            <td>5반 <input type="number" min="1" max="20" /></td>
        </tr>
        <tr>
            <td>6반 <input type="number" min="1" max="20" /></td>
            <td>6반 <input type="number" min="1" max="20" /></td>
            <td>6반 <input type="number" min="1" max="20" /></td>
        </tr>
    </table>
        <input type="submit" value="확인" />
    </form>
</body>
</html>
