
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>key</title>
    <link rel="stylesheet" href="~/StyleSheet1.css" />

</head>
<body>
    <div> 
        암호키를 발급받는 곳입니다.<br />
        버튼을 누르면 암호키가 생성됩니다.
    </div>
    @{ 
        String key = null;

            
    }
    
</body>
</html>
