
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>key</title>
    <link rel="stylesheet" href="~/StyleSheet1.css" />

</head>
<body>
    <body>
        <div>
            암호키를 발급받는 곳입니다.<br />
            버튼을 누르면 암호키가 생성됩니다.<br />
            <input type="text" id="pw" name="pw">
            <input type="button" value="생성" onclick="process()">
        </div>
        @{
            var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            var stringChars = new char[20];
            var random = new Random();

            for (int i = 0; i < stringChars.Length; i++)
            {
                stringChars[i] = chars[random.Next(chars.Length)];
            }
            var finalString = new String(stringChars);
        }
        <script>
        function process() {
            document.getElementById("pw").value="@finalString";
        }
        </script>
    </body>
</body>
</html>
