
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/StyleSheet1.css" />
</head>
<body>
    <div> 
        관리자의 암호키 입력시 관리자 페이지로 이동됩니다.
    </div>
    <form>
         접근을 위한 암호키를 입력하세요<br />
         <input type="text" size="20" class="keyInput"/><br />
        <input type="submit" value="확인"/>
    </form>
</body>
</html>
