@model metoo.Models.Registration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>registration</title>
    <link rel="stylesheet" href="~/StyleSheet1.css" />

</head>
<body>
    <div>
        후보를 등록하는 공간
    </div>

    <table class="CheckTable">
        <tr>
            <td>학생의 이름을 입력하세요</td>
            <td></td>
        </tr>
        <tr></tr>

    </table>
</body>
</html>
