
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reset</title>
    <link rel="stylesheet" href="~/StyleSheet1.css" />

</head>
<body>
    <div> 
        DB징쨔 초기화 하실?
    </div>
</body>
</html>
