
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vote</title>
    <link rel="stylesheet" href="~/StyleSheet1.css" />

</head>
<body>
    <div> 
        투표화면입니다.

    </div>
</body>
</html>
